.bgimage{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid green;
    background:  #34495e url(./image/icon.png) no-repeat center center scroll;
}


.box{
    background-color: #f39c12;
    padding: 50px 50px;
    border: 2px solid green;
    margin: 30px 30px;
    color: white;
    font-size: 20px;
}
