/*common css*/
*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.text-center{
    text-align: center;
}
.websitesize{
    max-width: 1200px;
    margin: auto;    
}
/*main header css*/
.main-header{
    background-color: white;
}
.logo{
    float: left;
    width: 40%;
}
.logo img{
    margin-bottom: -65px;
    margin-top: -59px;
}
.menu-item{

}
.menu-item ul{
    text-align: right;
}
.menu-item ul li{
    display: inline-block;
}
.menu-item ul li a{
    display: inline-block;
    padding: 30px 25px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-item ul li a:hover{
    background-color: #fb6358;
    color: #fff;
   
}
/*end main header css*/

/*start main banner css*/

.banner .text{
    float: left;
    width: 25%;
    background-color: #fb6358;
    height: 500px;
    text-transform: capitalize;
    
}
.banner .text h1{
   color: white;
   font-family: Monotype Corsiva;
   font-size: 50px;
   margin-top: 170px;
   padding-left: 25px;
}
.banner .text h5{
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding-left: 28px;
    padding-bottom: 20px;
    

}
.banner .text button{
    margin-left: 25px;
    padding: 12px 23px;
    background-color: white;
    color: #fb6358;
    border-radius: 7px;
    border-color: #fb6358;
    text-transform: capitalize;
    font-weight: bold;
}
.banner .image{
    float: right;
    width: 75%;
    
}
.image img{
    width: 100%;
    height: 500px;
}
/*end main banner css*/

/*start about us css*/
.about-us{
    background-color: #fff;
}
.about-us .text{
    float: left;
    width: 50%;
}
.about-us.image{
    float: right;
    width: 50%;
}
.about-us .image img{
    width: 500px;
    height: 362px;
    margin-top: 76px;
    margin-left: 90px;
}

.text-bottom img{
    height: 90px;
    width: 90px;
    margin-right: 57px;
    margin-top: 28px;
}
.text-top{
    margin-top: 68px;
}
.text-top h4{
    text-transform: capitalize;
    color: #fb6358;
    padding-bottom: 18px;
}
.text-top h1{
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-top p{
    padding-top: 18px;
    color: #756f6f;
}
/*end about us css*/


/*start  our menu css*/
.our-menu .text-top h4{
    margin-top: 150px;   
}
.menu h5{
    background-color: #fb6358;
    display: inline-block;
    padding: 12px;
    color: #fff;
}
.menu h4{
    background-color: #fb6358;
    margin-top: 109px;
    padding-top: 10px;
    color: #fff;
    padding-left: 13px;
    transition: .7s;
}  
.menu-1{
    float: left;
    width: 20%;
    background: url(all\ image/menu_1.jpg);
    width: 200px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-top: 50px;
  
}
.menu-2{
    float: left;
    width: 20%;
    background: url(all\ image/menu_2.jpg);
    width: 200px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-top: 50px;
    
  }
.menu-3{
    float: left;
    width: 20%;
    background: url(all\ image/menu_3.jpg);
    width: 200px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    margin-left: 87px;
    margin-top: 50px;
    
  }
.menu-4{
    float: left;
    width: 20%;
    background: url(all\ image/menu_4.jpg);
    width: 200px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    margin-left: 90px;
    margin-top: 50px;
    
  }
.menu-5{
    float: left;
    width: 20%;
    background: url(all\ image/menu_5.jpg);
    width: 200px;
    padding-bottom: 100px; 
    background-repeat: no-repeat;
    margin-left: 92px;
    margin-top: 50px;
    
  }
/*end our menu css*/


/*start our chefs css*/
.our-chefs{
    
}
.chef-text{
    text-align: center;
}
.chef-text h4{
    color: #fb6358;
    text-transform: capitalize;
    margin-top: 70px;
    margin-bottom: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chef-text h1{
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chef-pic img{
    width: 360px;
    height: 300px;
    margin-right: -10px;
    margin-left: 38px;
    margin-top: 60px;
}
/*end our chefs css*/

/*start our menu css*/
.menu-text h4{
    color: #fb6358;
    text-transform: capitalize;
    margin-top: 180px;
    margin-bottom: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-text h1{
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*end our footer css*/
.row-1{
    float: left;
    width: 50%;
}
.row-1 img{
    margin-top: 30px;
    margin-right: 35px;
   
}
.row-3{
    float: right;
    width: 50%;
    margin-top: 35px;
    margin-right: -160px;
    
}
.row-3 p{
    color: #ffff;
    text-transform: capitalize;
    font-size: 18px;
}
.footer{
    background-color: #fb6358;
    margin-top: 100px;
}