body{
    background: url(./assets/image/bg_main.gif) center;
}
.cont{
    width: 997px;
    margin: 0 auto;
}
/* topbar start*/
.topbar{
    background-color: #9E5BBA;
    color: #fff;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 2px solid red;
}
.topbar_right p{
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 10px;
    margin-right: 10px;
}
.topbar_right a{
    text-decoration: none;
    color: #fff;
}
/* topbar end*/

/* logo part strat */
.logo{
    height: 110px;
}
.logo_left{
    line-height: 110px;
}
.logo_search{
    padding-top: 45px;
}
form-input{
    width: 75%;
}
.logo_right{
    padding-top: 35px;
}
.logo_1{
    border-right: 1px solid #E8E8E8;
    height: 40px;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    top: 15%;
}
.logo_2 p{
    font-size: 13px;
    color: #9E5BBA;
    position: relative;
    top: 15%;
}
/* logo part end */

/* menu start */
.navbar ul li a{
    border-right: 1px solid #777;
}
.navbar ul li:hover a{
    background: #C40A2A;
    color: #fff;
}
/* menu end */